<div class="checkbox-container">
    <mat-checkbox (change)="ocultarColumna('numeroAlumno')">Numero Alumno</mat-checkbox>
    <mat-checkbox (change)="ocultarColumna('nombre')">Nombre</mat-checkbox>
    <mat-checkbox (change)="ocultarColumna('apellidos')">Apellidos</mat-checkbox>
    <mat-checkbox (change)="ocultarColumna('nif')">NIF</mat-checkbox>
    <mat-checkbox (change)="ocultarColumna('edad')">Edad</mat-checkbox>
    <mat-checkbox (change)="ocultarColumna('curso')">Curso</mat-checkbox>
  </div>
  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container *ngIf="displayedColumns.includes('numeroAlumno')" matColumnDef="numeroAlumno">
      <th mat-header-cell *matHeaderCellDef> Numero Alumno </th>
      <td mat-cell *matCellDef="let element"> {{element.numeroAlumno}} </td>
    </ng-container>
  
    <ng-container *ngIf="displayedColumns.includes('nombre')" matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>
  
    <ng-container *ngIf="displayedColumns.includes('apellidos')" matColumnDef="apellidos">
      <th mat-header-cell *matHeaderCellDef> Apellidos </th>
      <td mat-cell *matCellDef="let element"> {{element.apellidos}} </td>
    </ng-container>
  
    <ng-container *ngIf="displayedColumns.includes('nif')" matColumnDef="nif">
      <th mat-header-cell *matHeaderCellDef> NIF </th>
      <td mat-cell *matCellDef="let element"> {{element.nif}} </td>
    </ng-container>
  
    <ng-container *ngIf="displayedColumns.includes('edad')" matColumnDef="edad">
      <th mat-header-cell *matHeaderCellDef> Edad </th>
      <td mat-cell *matCellDef="let element"> {{element.edad}} </td>
    </ng-container>
  
    <ng-container *ngIf="displayedColumns.includes('curso')" matColumnDef="curso">
      <th mat-header-cell *matHeaderCellDef> Curso </th>
      <td mat-cell *matCellDef="let element"> {{element.curso}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>